@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.box {
    display: inline-block;
    padding: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 120px;
    z-index: 1;
    animation: roling 10s reverse infinite linear;
}
.fixed {
    animation: roling 10s infinite linear;
    background-color: white;
    z-index: 0;
}
@keyframes roling {
    0% {
        padding:0px;
        border-width: 100px;
        transform: rotate(0deg);
    } 
    50% {
        padding: 120px;
        border-width: 0px;
    }
    100% {
        padding: 0px;
        border-width: 100px;
        transform: rotate(360deg);
    }
}